.seasons * {
  color: #fff;
}

.seasons {
  display: grid;
  grid-template-columns: .3fr 1fr;
}

.season {
  background-color: rgba(0, 0, 0, .2);
  border-radius: 1rem;
}

.season .season__heading {
  cursor: pointer;
}

.season .season__heading span {
  transition: transform 200ms ease-in-out;
}

.season .season__content {
  transition:
    max-height 200ms ease-in-out,
    opacity 200ms ease-in-out 300ms;
}

.season:not(.open) .season__content {
  opacity: 0;
  height: 100%;
  max-height: 0;
  overflow: hidden;
}

.season.open .season__heading span {
  transform: rotate(180deg);
}

.season.open .season__content {
  max-height: 50rem;
  opacity: 1;
}

.season__content table thead tr,
.season__content table tbody tr {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.season__content table thead tr,
.season__content table tbody tr:nth-child(even) {
  background: rgba(255,255,255,.2);
}

.season__content table thead tr th {
  text-transform: uppercase;
}

.season__content table thead tr th,
.season__content table tbody tr td {
  text-align: right;
  padding: 1rem .5rem;
}
